@import '../../../styles.sass'

.dashboard-page
    background-color: $bg-color
    width: 100%
    height: 96vh
    margin-top: 2vh
    overflow-x: hidden

.movies
    position: relative
    width: 100%
    margin: 0 auto

.poster
    border-radius: 10px 10px 0 0
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.21)

.fav-movie-cont
    // background-color: $font-color
    border-radius: 10px
    padding: 0 20px 30px 20px
    margin: 20px 0px

    .poster-under
        background-color: $font-color
        padding: 20px 0
        border-radius: 0px 0px 10px 10px
        .movie-title
            text-align: center
            font-size: 16px
            font-weight: 600
            margin: 10px 0

.go-to-search
    height: 20vh
    color: $font-color
    padding-top: 5vh
    text-align: center

.go-to-search
    div
        background-image: url("../../../assets/img/go-to-search.svg")
        background-repeat: no-repeat
        background-position: center
        width: 20px
        height: 15px
        margin: 0 auto

.go-to-search
    a
        cursor: pointer
        color: $font-color
        text-decoration: none

.btn
    width: 80%
    border: 1px solid $bg-color
    border-radius: 25px
    margin: 0 10%
    // font-weight: bold
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.21)

.see-more
    background-color: $bg-color
    color: $font-color

.see-more:hover
    color: $font-color
    text-decoration: none

.no-fav-movie
    font-size: 40px
    color: $font-color
    text-align: center
    padding: 20vh 0

@media (max-width: $breakpoint-mobile) 
    .btn
        margin-bottom: 10px
