<div class="movie-landing-page">
    <div class="row">
        <div class="col-md-6">
            <div class="cover-img"></div>
        </div>
        <div class="col-md-6">
            <div class="page-text">
                <div class="wb-name">
                    movie<br> search
                </div>
                <div class="greeting">
                    Welcome to Movie<br> Search!
                </div>
                <div class="description">
                    <p class="bold">Now you can create your own movie library!</p>
                    <p> We are Movie Search and we offer a wide
                        variety of
                        award-winning TV shows, movies,
                        anime,
                        documentaries from where you can choose to create your own awesome digital library.</p>
                    <p>There're always new TV shows or movies that are added every week!
                    </p>
                </div>
            </div>
            <div class="cta-btn">
                <div class="go-to-search">
                    <a routerLink="/search" routerLinkActive="active">See our library<div></div></a>
                </div>
            </div>
        </div>
    </div>
</div>