<div class="search-page">
    <section class="app-title">movie<br> search</section>
    <section class="search-section">
        <div class="form-element">
            <input class="search-box" type="text" placeholder="Movie Title" (input)="search()" [(ngModel)]="movieTitle">
            <button class="search-btn" type="submit" (click)="search('click')">Search</button>
        </div>
    </section>
    <section class="search-result">
        <div class=row>
            <div *ngFor="let sMovie of movies" class="col-md-6 col-sm-6">
                <div class="sContainer">
                    <div [ngStyle]="{'background-image': sMovie.Poster != 'N/A' ? 'url('+sMovie.Poster+')' : 'url('+defaultPoster+')'}"
                        class="posterCover">
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="movie-desc">
                                <p class="movie-title">
                                    {{sMovie.Title.length > 40 ? (sMovie.Title | slice:0:40)+'...' : sMovie.Title }}</p>
                                <p class="movie-type">{{sMovie.Year}} | {{sMovie.Type}}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <a [routerLink]="'/movie/'+sMovie.imdbID" routerLinkActive="active" class="btn-details">See
                                More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>