<div class="movie-details-page">
    <section class="app-title">movie<br> search</section>
    <section class="movie-details-section">
        <div class="row">
            <div class="col-md-5">
                <div class="poster"
                    [ngStyle]="{'background-image': currentMovie.Poster != 'N/A' ? 'url('+currentMovie.Poster+')' : 'url('+defaultPoster+')'}">
                </div>
            </div>
            <div class="col-md-7">
                <div class="details">
                    <div class="header">
                        <div class="row">
                            <div class="col-md-8">
                                <p class="title">{{currentMovie.Title}}</p>
                                <p class="det">{{movieDet}} </p>
                                <p class="det">{{currentMovie.Genre}}</p>
                                <p class="det last">{{currentMovie.Type}}</p>
                            </div>
                            <div class="col-md-4">
                                <div class="star-container">
                                    <div class="star">
                                        <div class="grade">
                                            <div class="icon"></div> {{currentMovie.imdbRating}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body">
                        <div class="plot">
                            {{currentMovie.Plot}}
                        </div>
                        <div class="people">
                            <div class="director"><b>Director: </b>{{currentMovie.Director}}</div>
                            <div class="writers"><b>Writers: </b> {{currentMovie.Writer}}</div>
                            <div class="actors"><b>Stars: </b>{{currentMovie.Actors}}</div>
                        </div>
                        <div class="act-btn">
                            <button (click)="addToFavourite(currentMovie)">Add to Favourite</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</div>